
@{
    ViewData["Title"] = "ShopSingle Page";
}
@model Ecommerce.Areas.Admin.Models.Product

<section class="ab-info-main py-md-5 py-4">
    <div class="container py-md-3">
        <!-- top Products -->
        <div class="row">
            <!-- product left -->
            <div id="left1" class="side-bar col-lg-4">

                <div class="search-bar w3layouts-newsletter">
                    <h3 class="sear-head">Search Here..</h3>
                    <form action="#" method="post" class="d-flex">
                        <input type="search" placeholder="Product name..." name="search" class="form-control" required="">
                        <button class="btn1"><span class="fa fa-search" aria-hidden="true"></span></button>
                    </form>
                </div>
                <!--preference -->
                <div class="left-side my-4">
                    <h3 class="sear-head">Occasion</h3>
                    <ul class="w3layouts-box-list">
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">Casuals</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">Party</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">Wedding</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">Ethnic</span>
                        </li>
                    </ul>
                </div>
                <!-- // preference -->
                <!-- discounts -->
                <div class="left-side">
                    <h3 class="sear-head">Discount</h3>
                    <ul class="w3layouts-box-list">
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">5% or More</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">10% or More</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">20% or More</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">30% or More</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">50% or More</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">60% or More</span>
                        </li>
                    </ul>
                </div>
                <!-- //discounts -->
                <!-- reviews -->
                <div class="customer-rev left-side my-4">
                    <h3 class="sear-head">Customer Review</h3>
                    <ul class="w3layouts-box-list">
                        <li>
                            <a href="#">
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span>5.0</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star-o" aria-hidden="true"></span>
                                <span>4.0</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star-half-o" aria-hidden="true"></span>
                                <span class="fa fa-star-o" aria-hidden="true"></span>
                                <span>3.5</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star-o" aria-hidden="true"></span>
                                <span class="fa fa-star-o" aria-hidden="true"></span>
                                <span>3.0</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star-half-o" aria-hidden="true"></span>
                                <span class="fa fa-star-o" aria-hidden="true"></span>
                                <span class="fa fa-star-o" aria-hidden="true"></span>
                                <span>2.5</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //reviews -->
                <!-- deals -->
                <div class="deal-leftmk left-side">
                    <h3 class="sear-head">Special Deals</h3>
                    @foreach (Product item in ViewBag.ListPros)
                    {
                        <div class="special-sec1 row mb-3">
                            <a asp-action="ShopSingle" asp-route-id="@item.ID">
                                <div class="img-deals col-md-4">
                                    <img src="~/img/pro/@Html.DisplayFor(modelItem => item.Imgage)" class="img-fluid" alt="">
                                </div>
                                <div class="img-deal1 col-md-4">
                                    <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                                    <p>@Html.DisplayFor(modelItem => item.Price)</p>
                                </div>
                            </a>
                        </div>
                    }


                </div>
                <!-- //deals -->

            </div>
            <!-- //product left -->
            <!-- product right -->
            <div class="left-ads-display col-lg-8">
                <div class="row">
                    <div class="desc1-left col-md-6">
                        <img src="~/img/pro/@Html.DisplayFor(model => model.Imgage)" class="img-fluid" alt="">
                    </div>
                    <div class="desc1-right col-md-6 pl-lg-4">
                        <h3>@Html.DisplayFor(model => model.Name)</h3>
                        <h5>@Html.DisplayFor(model => model.Price)</h5>
                        <div class="available mt-3">
                            <form asp-action="Mua" method="post" class="w3layouts-newsletter">
                                @await Component.InvokeAsync("Mua", new { x = ViewBag.Cong })
                              
                            </form>
                            <span><a href="#">login to save in wishlist </a></span>
                            <a class="fa fa-language" id="mota" style="padding:10px; border: 1px black solid; "></a>
                            <a class="fa fa-volume-up" id="doc" style="padding:10px; border: 1px black solid; "></a>
                            <p id="m">@Html.DisplayFor(model => model.Description)</p>
                        </div>
                        <div class="share-desc">
                            <div class="share">
                                <h4>Share Product :</h4>
                                <ul class="w3layouts_social_list list-unstyled">
                                    <li>
                                        <a href="#" class="w3pvt_facebook">
                                            <span class="fa fa-facebook-f"></span>
                                        </a>
                                    </li>
                                    <li class="mx-2">
                                        <a href="#" class="w3pvt_twitter">
                                            <span class="fa fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="w3pvt_dribble">
                                            <span class="fa fa-dribbble"></span>
                                        </a>
                                    </li>
                                    <li class="ml-2">
                                        <a href="#" class="w3pvt_google">
                                            <span class="fa fa-google-plus"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="row sub-para-w3layouts mt-5">

                    <h3 class="shop-sing">@Html.DisplayFor(model => model.Name)</h3>
                    <p>@Html.DisplayFor(model => model.Content)</p>
                </div>

                <h3 class="shop-sing">Featured Products</h3>
                <div class="row m-0">
                    @foreach (Product item in ViewBag.ListPros)
                    {
                        <div class="col-md-4 product-men">
                            <div class="product-shoe-info shoe text-center">
                                <a asp-action="ShopSingle" asp-route-id="@item.ID">
                                    <div class="product-shoe-info shoe text-center">
                                        <div class="men-thumb-item">
                                            <img src="~/img/pro/@Html.DisplayFor(modelItem => item.Imgage)" class="img-fluid" alt="">
                                            <span class="product-new-top">New</span>
                                        </div>
                                        <div class="item-info-product">
                                            <h4 style="color:black">
                                                @item.Name
                                            </h4>

                                            <div class="product_price">
                                                <div class="grid-price">
                                                    <span class="money">@Html.DisplayFor(modelItem => item.Price)</span>
                                                </div>
                                            </div>
                                            <ul class="stars" style="color:black">
                                                <li><span class="fa fa-star" aria-hidden="true"></span></li>
                                                <li><span class="fa fa-star" aria-hidden="true"></span></li>
                                                <li><span class="fa fa-star" aria-hidden="true"></span></li>
                                                <li><span class="fa fa-star-half-o" aria-hidden="true"></span></li>
                                                <li><span class="fa fa-star-o" aria-hidden="true"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>

   
    

</section>
@section Scripts{ 

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://code.responsivevoice.org/responsivevoice.js?key=hP0CWufy"></script>
    <script>
        $('#left1').on('click', function () {
            alert("chuc nang chua hoan thanh");
        })

        var l1 = "vi";
        var l2 = "en";
        $('#mota').on('click', function () {
            
            var tam;

            $.ajax({
                method: "get",
                url: "../Translate",
                


                data: { data: $('#m').text(), la1: l1, la2: l2 },
                success: function (returnData) {
                    //alert(returnData);
                    $('#m').text(returnData);
                    tam = l1;
                    l1 = l2;
                    l2 = tam;
                }

            })
        })
        $('#doc').on('click', function () {
            responsiveVoice.speak($('#m').text(),'Vietnamese Female');
           

        })
        $('#MuaSP').on('click', function () {
            alert('Them Thanh cong');
        })
    </script>
}