@model Ecommerce.Areas.Admin.Models.Category

@{
    ViewData["Title"] = "Index";
}

<partial name="Create" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Category item in ViewBag.ListCate) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            <td>
                <input id="@item.ID" type="checkbox" name="name" @{
                    if (item.Status == true) 
                    { 
                        @: checked
                    } 
                    else 
                    { 
                        @: uncheck
                    } 
                    } disabled />
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Index" asp-route-id="@item.ID">Edit</a>
                <button id="txtbtn" class="btn btn-warning" name="update_category_stt" data-id="@item.ID" data-name="@item.Name"
                        data-stt="@(item.Status)">
                    @{
                        if (item.Status == true)
                        {
                            @:Ẩn
                        }
                        else
                        {
                            @:Hiện
                        }
                    }

                </button>

            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{ 
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script>
            var stt = ($('button[name=update_category_stt]').attr('data-stt'));
            stt = JSON.parse(stt.toLowerCase());

            $('button[name=update_category_stt]').on('click', function (e) {
                var id = $(this).attr('data-id');
                var name = $(this).attr('data-name');
            
            $.ajax({
                method: "POST",
                url: "../api/categories_api/UpdateStatus",
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify({ "ma": parseInt(id), "stt": stt }),
                success: function (msg) {
                    if (msg == '0') {
                        alert("Cập nhập thất bại!!");
                    }
                    else {
                        var r = JSON.parse(msg);
                        if (r.stt == "True") {
                            $('button[name=update_category_stt][data-id=' + r.id + ']').html('Ẩn');
                            $("#" + id).prop("checked", true);
                            stt = !stt;
                        }
                        else {
                            $('button[name=update_category_stt][data-id=' + r.id + ']').html('Hiện');
                            $("#" + id).prop("checked", false);
                            stt = !stt;
                        }
                    }
                },
                error: function (err) {
                    console.log(err)
                }
            })
         })
        </script>
}
